.title a {
  color: #0070f3;
}
.head {
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.head h4 {
  margin: 10px;
  padding: 0 10px;
  border-left: 3px solid var(--theme1);
  margin-left: 10%;
  text-align: center;
  font-size: 1.3rem;
}
.head p, .popup p {
  color: #aaa;
}
.content {
  padding: 20px;
  justify-content: center;
}

.popup {
  animation: show 0.2s ease-in;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  padding: 10px 0px;
  justify-content: center;
  box-shadow: var(--boxShadow);
}

@keyframes show {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.expand {
  justify-content: center;
  padding: 10px 0px;
}
