

.title a {
  color: #0070f3;
}
.bundles .head{
  border-bottom: 1px solid #aaa;

}
.bundles .head h4{
  margin :10px;
  padding: 5px 10px;
  border: 2px solid var(--theme1);
  border-radius: 50px ;
}
.content{
  padding: 20px;
  justify-content: center;
}
.content .item{
  width: 25%;
  color: #fff;
  border-radius: 10px;
  margin:  10px;
  padding: 10px;
  text-align: center;
}
.content .item h1{ 
  font-weight: 400;
  font-size: 2.5rem;
}
.content .item button{
  background-color: #fff;
  color: var(--theme1);
  padding: 10px 20px;
}
