.list {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.list .item {
  max-width: 90%;
  width: 340px;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  text-align: center;
  min-height: 30vh;/* 
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 12%); */
  padding-bottom: 30px;
}
.list .item h1 {
  font-weight: 400;
  font-size: 2.5rem;
}
.list .item button {
  transition-duration: 0.5s;
  background-color: #fff;
  color: #555;
  padding: 5px 20px;
}

.list .item button:hover {
  background-color: #fff;
  backdrop-filter: blur(62px);
  border-color: #fff;
  transform: scale(1.05);
}

.item h1 {
  margin-top: auto;
}

.tick {
  width: 100%;
}
.empty {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #fff;
}

.final.item {
  min-height: 60px !important;
  border-radius: 15px !important;
}
.final.item h1 {
  font-size: 1.2rem !important;
}
.final .empty {
  width: 20px;
  height: 20px;
}
@media (max-width: 400px) {
  .item {
    min-height: 60px !important;
    border-radius: 15px !important;
  }
  .item h1 {
    font-size: 1.2rem !important;
  }
  .empty {
    width: 20px;
    height: 20px;
  }
}
