.page {
  color: var(--theme1);
}

header {
  padding: 0px 20px;
  height: 10vh;
  min-height: 60px;
}
header h1 {
  margin: 0;
  display: flex;
  cursor: pointer;
}
header h1 span{
  transform: rotate(-45deg);
  margin-right: 3px;
  margin-left: -3px;
}
footer {
  text-align: center;
  padding: 20px 0px;
  height: 10vh;
  min-height: 60px;
  line-height: 20px;
  border-top: var(--lightBorder);
  border-bottom: 5px solid var(--theme1);
  justify-content: space-evenly;
}
.contact {
  margin-right: 20px;
  font-weight: 700;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--theme1);
  text-decoration-thickness: 3px !important;
  white-space: nowrap;
}
.contact:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .contact {
    margin-right: 5px;
  }
  header a button{
    padding: .5rem !important;
  }
}

@media (max-width: 400px) {
  .contact {
    display: none;
  }
}