.page {
  color: var(--theme1);
  border-bottom: 5px solid var(--theme1);
  height: 100%;
}

header {
  padding: 0px 20px;
  height: 60px;
}
header h1 {
  margin: 0;
  display: flex;
}
header h1 span{
  transform: rotate(-45deg);
  margin-right: 3px;
  margin-left: -3px;
}
footer {
  text-align: center;
  padding: 20px 0px;
  height: 60px;
  line-height: 20px;
  font-size: 16px;
  border-top: var(--lightBorder);
}
.contact {
  margin-right: 20px;
  font-weight: 700;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--theme1);
  text-decoration-thickness: 3px !important;
}
.contact:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .contact {
    display: none;
  }
}