.page {
  color: var(--theme1);
}

header {
  padding: 10px 20px;
}
header h1 {
  margin: 0;
  display: flex;
}
header h1 span{
  transform: rotate(-45deg);
  margin-right: 3px;
  margin-left: -3px;
}
footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid #ddd;
}
.contact {
  border: none !important;
  margin-right: 5px;
  font-size: large;
  white-space: nowrap;
  background-color: transparent !important;
  color: var(--theme1) !important;
  text-decoration-thickness: 3px !important;
}
.contact:hover {
  text-decoration: underline;
  border: none !important;
}

@media (max-width: 400px) {
  .contact {
    display: none;
  }
}