.page {
  color: var(--theme1);
}

header {
  padding: 10px 20px;
}
header h1 {
  margin: 0;
  display: flex;
}
header h1 span{
  transform: rotate(-45deg);
  margin-right: 3px;
  margin-left: -3px;
}
footer {
  text-align: center;
  padding: 0px 0px 20px 0px;
}
.contact{
  text-decoration: none;
  padding: 0.605rem 1rem;
  border-radius: 50px;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: 0.2s;
}

.contact:hover {
  border: 2px solid var(--theme1);
}