.refer-form {
  padding: 20px;
  min-height: 450px;
  max-height: 100%;
}
.refer-form h2,
.refer-form .h4 {
  padding: 20px 0px;
  text-align: center;
}

.refer-form button {
  margin-top: 20px;
}
.ref-page .balance{
  font-size: 2.5rem;
}
.ref-page {
  padding: 0px 20px;
  flex-direction: row;
  align-items: flex-start;
}

.share-wrap {
  border-right: 3px solid var(--theme1);
  min-height: 75vh;
  justify-content: flex-start;
}

.ref-page .header {
  padding: 20px 0px;
  padding-bottom: 20px;
}

.ref-page button {
  box-shadow: 1px 0px 20px 8px rgb(92 92 92 / 20%);
  font-size: 1.2rem;
  margin: 15px 0px;
  padding: 0.7rem 1.5rem;
}

.copy-btn button {
  margin-left: 10px;
  width: 50%;
}

.copy-btn {
  width: 400px;
  max-width: 100%;
}

.ref-page button:nth-child(4) {
  width: 400px;
  max-width: 100%;
}

.ref-page input {
  color: var(--theme1);
  font-size: 1.1rem;
  padding: 0.7rem 0.5rem;
  margin: 5px 0px;
  border-radius: 30px;
  border: 3px solid var(--theme1);
  background-color: transparent;
  width: 120%;
  font-weight: bold;
}

.label {
  font-size: 1.2rem;
}

.earnings p{
  color: #777;
  font-weight: 700;
}

@media (max-width: 500px) {
  .copy-btn {
    flex-direction: column;
  }
  .copy-btn button {
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 900px) {
  .ref-page {
    flex-direction: column;
  }
  .share-wrap {
    border-right: none;
    border-bottom: 2px solid var(--theme1);
  }
}

@media (max-width: 390px) {
  .ref-page .balance{
    font-size: 2rem;
  }
  .ref-page input {
    font-size: 0.9rem;
  }
}
