.refferal {
  padding: 15px;
  background-color: var(--theme1);
  text-align: center;
  background: linear-gradient(
    -45deg,
    var(--theme1),
    var(--theme1),
    #09803e,
    var(--theme1)
  );
  animation: blink 2s ease-in-out infinite alternate;
  background-size: 300% 300%;
  min-height: 7vh;
}
.refferal p {
  color: white;
  font-weight: 700;
}
@keyframes blink {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
