.share-btn {
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  margin: 15px 0px;
  box-shadow: 1px 0px 20px 8px rgb(92 92 92 / 20%);
  width: 400px;
  max-width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  color: white;
  white-space: nowrap;
}

