.container {
  margin: 0px 20px;
  justify-content: space-around;
  height: 100%;
}

@media (max-width: 960px) {
  .container {
    flex-wrap: wrap;
  }
  .form {
    padding: 0 5%;
  }
  .form, .sign-col {
    margin-bottom: 20px;
  }
}
@media (max-width: 690px) {
  .container .col-wrap {
    flex-direction: column;
    width: 100%;
  }
  .sign-col .list .item {
    width: 80%;
  }
  .container .sign-col, .container .form {
    height: fit-content;
  }
  .form, .sign-col {
    margin-bottom: 0px;
    max-width: 100% !important;
  }
  .form {
    padding: 0 8% !important;
  }
}

@media (max-width: 500px) {
  .sign-col .list .item {
    width: 340px;
  }
}

.form,
.sign-col {
  width: 100%;
  height: 74vh;
}

.list {
  height: 100%;
}
.sign-col {
  max-width: 320px;
  padding: 20px 10px;
}

.form {
  padding: 0 2%;
  min-height: 400px;
}
.form h2,
.sign-col h2 {
  text-align: center;
  margin: 10px;
}
.flex {
  display: flex;
}
.form label, .form h4, .form select {
  align-items: flex-start !important;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.form h4 {
  margin: 0px;
}

.form button {
  margin-top: 20px;
}
.form input,
.form select {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px 0px;
  border-radius: 15px;
  border: 2px solid var(--theme1);
  background-color: transparent;
  width: 100%;
}

.form input:focus,
.form select:focus {
  outline: none;
}

.form select {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  appearance: none;
}

select .option1 {
  color: var(--theme1);
}

select option {
  color: rgba(0, 0, 0, 0.6);
}

.error {
  color: red;
}

.form select .courses {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid rgb(177, 177, 177);
  padding: 0px 10px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .container {
    margin: 0;
  }
}
